In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [29]:
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\feature engineering\\diabetes.csv")
df.shape

(768, 9)

In [30]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [31]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [32]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [33]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [34]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2)

In [37]:
scaler=StandardScaler()

In [38]:
xtrain=scaler.fit_transform(xtrain)
xtrain

array([[-0.84103798, -0.26429167,  0.17419356, ...,  0.32496029,
         0.16135622, -0.68862937],
       [ 1.24001052, -1.45449688,  0.07194227, ...,  0.43695546,
         0.68854473,  0.54074925],
       [ 1.24001052,  2.39800946,  0.27644485, ..., -0.73277187,
         2.13607928,  0.54074925],
       ...,
       [-1.13833062,  1.83422804,  1.09445514, ...,  1.53201934,
         0.63195387, -0.86425488],
       [-1.13833062,  0.4560957 , -0.03030901, ...,  1.308029  ,
        -0.32413376, -0.77644213],
       [-1.13833062,  0.11156261,  0.07194227, ..., -0.54611326,
        -0.6547435 ,  0.27731097]], shape=(614, 8))

In [ ]:
xtest=scaler.fit(xtest)