In [4]:
import pandas as pd
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\pandas-works\\customer_behaviour\\E-commerce Customer Behavior - Sheet1.csv")
df.shape

(350, 11)

In [5]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'City', 'Membership Type',
       'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied',
       'Days Since Last Purchase', 'Satisfaction Level'],
      dtype='object')

In [6]:

df.head()

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.7,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.0,True,55,Unsatisfied

In [7]:

df.isnull().sum()

Customer ID                 0
Gender                      0
Age                         0
City                        0
Membership Type             0
Total Spend                 0
Items Purchased             0
Average Rating              0
Discount Applied            0
Days Since Last Purchase    0
Satisfaction Level          2
dtype: int64

In [10]:
# changing column names using rename
df.rename(columns={"Customer ID":"custmer_id","Gender":"gender","Age":"age","City":"city","Membership Type":"membership_type","Total Spend":"total_spend","Items Purchased":"item_purchased","Average Rating":"average_rating","Discount Applied":"discount_applied","Days Since Last Purchase":"days_since_last_purchase","Satisfaction Level":"satisfication_level"},inplace=True)
df.isnull().sum()

custmer_id                  0
gender                      0
age                         0
city                        0
membership_type             0
total_spend                 0
item_purchased              0
average_rating              0
discount_applied            0
days_since_last_purchase    0
satisfication_level         2
dtype: int64

In [11]:
df["satisfication_level"].fillna(df["average_rating"].apply(lambda x:"unsatisfied" if x<=4.0 else "neutral" if x>4.0 and x<4.5 else "satisfied"),inplace=True)

In [12]:
df.isnull().sum()

custmer_id                  0
gender                      0
age                         0
city                        0
membership_type             0
total_spend                 0
item_purchased              0
average_rating              0
discount_applied            0
days_since_last_purchase    0
satisfication_level         0
dtype: int64