In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\feature engineering\\tasks\\Task 16  Mobile battery 05-02-2026\\mobile battery with time.csv")
df.shape

(385429, 18)

In [3]:
df.columns

Index(['352944080639365', 'samsung SM-A910F', '8.0.0', 'Li-ion', '5000.0',
       '1570599938843', 'false', '37', 'com.zopper.batteryage', '0', '24.7',
       '3741', '130', 'none', 'false.1', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [4]:
df.head()

,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,false,37,com.zopper.batteryage,0,24.7,3741,130,none,false.1,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599946877,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
3,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599947492,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
4,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599953460,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN

In [12]:
df=df.drop_duplicates(subset=df.columns,keep="first",inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop_duplicates'

In [16]:
print(df)

None