In [2]:
print("hello")

hello

In [4]:
print("interactive python notbook (ipynb)")

interactive python notbook (ipynb)

In [15]:
import pandas as pd
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\pandas-works\\social_media_case_study\\social_media_viral_content_dataset.csv")
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0

In [18]:
df.columns

Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

In [17]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [ ]:
# print total number of rows
df.shape[0]

2000

In [ ]:
# print total number of columns
df.shape[1]

15

In [ ]:
# unique platforms
df["platform"].unique()

array(['Instagram', 'YouTube Shorts', 'X', 'TikTok'], dtype=object)

In [ ]:
# platform-wise post count
df["platform"].value_counts()

platform
Instagram         539
YouTube Shorts    499
X                 485
TikTok            477
Name: count, dtype: int64

In [27]:
# unique content type
df["content_type"].unique()

array(['text', 'carousel', 'video', 'image'], dtype=object)

In [28]:
# content_type-wise count
df["content_type"].value_counts()

content_type
carousel    528
image       512
text        488
video       472
Name: count, dtype: int64